<h1>お問い合わせありがとうございます。</h1>

<div class="card mt-3">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><b>お名前：　</b><%= @contact.name %></li>
    <li class="list-group-item"><b>メールアドレス：　</b><%= @contact.email %></li>
    <li class="list-group-item"><b>お問い合わせ内容：　</b><%= @contact.body %></li>
  </ul>
</div>

<div class="mt-3 d-flex justify-content-around">
  <small><%= link_to 'トップページ', root_path, class: "my-btn" %></small>
</div>
