<h1>Hotel Projectについて</h1>

<h2 class="mt-3 mb-2"><u>Hotel Projectとは</u></h2>
<p>
  <ul>
    <li>ホテルの情報掲載</li>
    <li>ホテルの検索</li>
    <li>ホテルのレビュー投稿、閲覧</li>
    <li>ホテルの予約</li>
  </ul>
  などができるWebサイトです。<br>
  ※現在掲載しているホテル等は架空のものです。
</p>

<h2 class="mt-3 mb-2"><u>プログラミングスクール<strong>「iGarage」</strong></u></h2>
<p>
  Hotel Projectは<strong>iGarage</strong>のカリキュラムの中で実際に作るWebサイトのひとつです。<br><br>
  iGarageでは、このようなWebサービスを実際に開発しながらプログラミングスキルを身に付けていきます。<br>
  デザインの詳細や機能などを自分で考えて形にするため、実際にどのように開発していくのかも学ぶことができ、「自身の開発スキルを高める」ことができます。<br>
  <ul>
    <li>作ってみたいサービスがあるけど作り方がわからない…</li>
    <li>ホームページを自分で作れるようになりたい</li>
    <li>何かスキルを身に付けたい</li>
    <li>将来エンジニアとして活躍していきたい</li>
  </ul>
  ぜひ皆さんも自分だけのオリジナルのWebサイトを作ってみませんか。
</p>
